<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
    <div class="card p-4 shadow mx-auto" style="max-width:500px">
        <h3 class="text-center mb-4">Reset Password</h3>

        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

        <form th:action="@{/reset-password}" method="post" onsubmit="return validateReset()">
            <input type="hidden" name="email" th:value="${email}">

            <div class="mb-3">
                <label class="form-label">OTP</label>
                <input type="text" name="otp" class="form-control" placeholder="Enter OTP" required>
            </div>

            <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Ex: Suraj#123" required>
            </div>

            <button class="btn btn-success w-100">Update Password</button>
        </form>
    </div>
</div>

<script>
function validateReset(){
    const pwd = document.getElementById('password').value;
    const strongPassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{6,}$/;
    if(!strongPassword.test(pwd)){
        alert("Password must contain:\n- Minimum 6 characters\n- At least 1 uppercase letter\n- At least 1 lowercase letter\n- At least 1 number\n- At least 1 special character");
        return false;
    }
    return true;
}
</script>

</body>
</html>